@import "../../variables.module.scss";

.postWrapper {
    padding-left: $main-padding;
    padding-right: $main-padding;

    pre {
        padding: $post-padding;
        background-color: $white-color;
        border-radius: $border-radius;
        overflow-wrap: break-word;
        text-wrap: balance;
    }

    code {
        background-color: $white-color;
    }

    h3 {
        color: $primary-color;
        font-weight: $font-weight-bold;
    }
}
.date {
    padding-top: 0.67em;
    padding-left: $main-padding;
    padding-right: $main-padding;
    border-top: $border;
}
