@import "../../../variables.module.scss";

.headerWrapper {
    display: grid;
    justify-content: end;
    padding-left: $main-padding;
    padding-right: $main-padding;
}

.headerWrapper ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr;
    min-width: 300px;
    text-align: right;
}

ul.tripleColumn {
    grid-template-columns: 1fr 1fr 1fr;
}
