@import "../../../variables.module.scss";

.headerWrapper {
    display: grid;
    height: $font-size-heading;
    position: sticky;
    z-index: 10;
    top: 0;
    justify-content: end;
    align-items: center;
    padding-left: $main-padding;
    padding-right: $main-padding;
    background-color: $bg-primary-color;
    border-bottom: $border;
}

.headerWrapper ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: auto auto;
    gap: 30px;
    text-align: right;

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: $font-size-nav;
        color: $primary-color;
        &:hover {
            text-decoration: underline;
        }
    }
}

ul.tripleColumn {
    grid-template-columns: auto auto auto;
}
