@import "../../../variables.module.scss";

.headerWrapper {
    display: grid;
    position: sticky;
    top: 0;
    justify-content: end;
    padding-left: $main-padding;
    padding-right: $main-padding;
    background-color: $primary-color;
}

.headerWrapper ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: auto auto;
    min-width: 300px;
    text-align: right;

    a {
        text-decoration: none;
        color: $white-color;
        &:hover {
            text-decoration: underline;
        }
    }
}

ul.tripleColumn {
    grid-template-columns: auto auto auto;
}
