@import "../../../variables.module.scss";

.container {
    padding-left: $main-padding;
    padding-right: $main-padding;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: $border;
}

ul.categoriesWrapper {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: $big-grid-gap;
    padding: 0;

    button {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        padding: 5px;
        border-radius: 5px;
        max-width: 200px;
    }
}

.categoryFilter {
    @include primary-button;
    max-width: 200px;
}

.filterIsActive {
    @include primary-button-active;
}