@import "../../../variables.module.scss";

.toggleFilterContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: $big-grid-gap;
    align-items: center;
    padding-left: $main-padding;
    padding-right: $main-padding;
}
.toggleContainer {
    width: 50px;
    height: 20px;
    border: $border;
    border-radius: 20px;
    display: grid;
    background-color: $bg-primary-color;
    box-shadow: $box-shadow-toggle;
    cursor: pointer;
    &:hover {
        box-shadow: $box-shadow-toggle-hover;
    }
}

.toggle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 2px;
    margin-top: auto;
    margin-bottom: auto;
    transition: margin-left 0.5s ease;
    border: $border;
}

.toggleContainerActive {
    background-color: $primary-color;
    box-shadow: $box-shadow-toggle;
}

.toggle.toggleActive {
    background-color: $primary-color;
    border-color: $bg-primary-color;
    margin-left: 30px;
}

.filterWrapper {
    opacity: 0;
    height: 0;
    z-index: -1;
    transition: all 0.5s ease;
    padding-left: $main-padding;
    padding-right: $main-padding;
}

.filterWrapper.filterWrapperVisible {
    opacity: 1;
    height: 220px;
    z-index: 1;
}

ul.categoriesWrapper {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: $small-grid-gap;
    padding: 0;
}

.categoryFilter {
    @include primary-button;
    max-width: 150px;
}

.filterIsActive {
    background-color: $primary-color;
    color: $white-color;
}

@media screen and (max-width: 868px) {
    .filterWrapper.filterWrapperVisible {
        height: 260px;
    }
}

@media screen and (max-width: 692px) {
    .filterWrapper.filterWrapperVisible {
        height: 300px;
    }
}

@media screen and (max-width: 515px) {
    .filterWrapper.filterWrapperVisible {
        height: 340px;
    }
}

@media screen and (max-width: 390px) {
    .filterWrapper.filterWrapperVisible {
        height: 390px;
    }
}

@media screen and (max-width: 341px) {
    .filterWrapper.filterWrapperVisible {
        height: 560px;
    }
}
