@import "../../../variables.module.scss";

.wrapper {
    padding-left: $main-padding;
    padding-right: $main-padding;
    border-bottom: $border;
}

.aboutHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
}
