@import "../../../variables.module.scss";

.wrapper {
    padding-left: $main-padding;
    padding-right: $main-padding;
    border-bottom: $border;
    padding-bottom: 20px;
}

.aboutHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
}

.textWrapper p {
    margin-bottom: 10px;
}
.showMore {
    border: none;
    font-weight: $font-weight-bold;
    background-color: $bg-primary-color;
    padding: 0;
    margin-bottom: 10px;
    cursor: pointer;
    color: $primary-color;
    &:hover {
        text-decoration: underline;
    }
}
