@import "../../variables.module.scss";

.container {
    display: grid;
}

.postsHeadingWrapper {
    display: grid;
    padding-left: $main-padding;
    padding-right: $main-padding;
    grid-template-columns: 1fr auto;
    align-items: baseline;

    .numOfShownPosts {
        font-size: $font-size-nav;
        color: $primary-color;
    }
}
