@import "../../variables.module.scss";

.container {
    display: grid;
    padding-left: $main-padding;
    padding-right: $main-padding;
}

.categoryFilter {
    @include primary-button;
    max-width: 150px;
}
