ul.categoriesWrapper {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
    padding: 0;
}

li.categoryFilter {
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.filterIsActive {
    background-color: grey;
    color: white;
}

li.categoryFilter:hover {
    background-color: grey;
    color: white;
    opacity: 0.8;
}
