.headerWrapper {
    display: grid;
    justify-content: end;
}

.headerWrapper ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 300px;
    text-align: center;
}

ul.singleColumn {
    direction: rtl;
}
