@import "../variables.module.scss";
* {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
        font-weight: $font-weight-normal;
        font-family: $font-family;
        color: $primary-color;
    }
    button,
    span {
        font-family: $font-family;
        color: $white-color;
    }
    p,
    li {
        color: $white-color;
    }

    code {
        padding-left: 3px;
        padding-right: 3px;
    }
}

html,
body {
    margin: 0;
    background-color: $bg-primary-color;

    h1 {
        color: $primary-color;
        text-transform: uppercase;
        font-size: $font-size-heading;
        font-weight: $font-weight-normal;
    }
}

@media only screen and (max-width: 992px) {
    body h1 {
        font-size: $font-size-nav;
    }
}
