@import "../variables.module.scss";
* {
    font-family: $font-family;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 300;
    }
}

html,
body {
    margin: 0;
    background-color: $bg-primary-color;

    h1 {
        color: $primary-color;
        text-transform: uppercase;
        font-size: $font-size-heading;
        font-weight: 300;
    }
}
