
.postContainer {
    display: grid;
    justify-items: center;    
}

.postsHeader {
    justify-self: start;
    padding: 0;
}

ul.postsWrapper {
    display: grid;
    grid-gap: 10px;
    padding: 0;
    list-style-type: none

}

li.post {
    border: 1px solid black;
    margin-top: 10px;
    
}
 
@media screen and (min-width: 480px) {
    ul.postsWrapper {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  
    }
}

@media screen and (min-width: 769px) {
    li.post {
        width: 200px;
    }
    ul.postsWrapper {
    grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (min-width: 1200px) {
    .postsWrapper {    
        grid-template-columns: repeat(5, 1fr);
    }

}



/* 
320px — 480px: Mobile devices 481px — 768px: iPads,
Tablets 769px — 1024px: Small screens,
laptops 1025px — 1200px: Desktops,
large screens 1201px and more — Extra large screens,
TV
*/