@import "../../../variables.module.scss";

.postsHeader {
    justify-self: start;
    padding: 0;
    border-bottom: $border;
}

ul.postsWrapper {
    display: grid;
    grid-gap: $big-grid-gap;
    padding-left: $main-padding;
    padding-right: $main-padding;

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style-type: none;
}

li.post {
    display: grid;
    grid-template-rows: auto 1fr;
    border: $border;
    border-radius: $border-radius;
    padding: $post-padding;
    box-shadow: $box-shadow;
    transition: box-shadow 0.3s ease;
    a {
        text-decoration: none;
    }
    h3 {
        color: $black-color;

        &:hover {
            color: $primary-color;
            text-decoration: underline;
        }
    }
    &:hover {
        box-shadow: $box-shadow-hover;
    }
    p {
        margin-top: auto;
    }
}
