$font-family: Arial, Helvetica, sans-serif;
$font-size-heading: 70px;
$font-size-nav: calc($font-size-heading / 3);

$primary-color: #661d34;
$secondary-color: #661d34cc;
$bg-post-color: #d57698;
// $bg-post-color: #ffffa5;
// $bg-post-color: white;
$bg-primary-color: #dae3ea;
// $bg-primary-color: #151a1e;
$grey-color: grey;
$red-color: #d50000;
$black-color: #000;
$white-color: #ffffff;
$white-w-opacity: #ffffffb3;
$shadow-color: #00000033;
$border-radius: 10px;
$transition-hover: background-color 0.3s ease;

$border: 3px solid $primary-color;
$small-grid-gap: 5px;
$big-grid-gap: 20px;
$main-padding: 20%;
$small-padding: 5px;
$post-padding: 10px 20px;
$box-shadow-button: 0 5px 8px 0 $shadow-color;
$box-shadow-button-hover: 0 15px 8px 0 $shadow-color;
$box-shadow: 0 10px 8px 0 $shadow-color;
$box-shadow-hover: 0 30px 8px 0 $shadow-color;

$box-shadow-toggle: 0 2px 2px 0 $shadow-color;
$box-shadow-toggle-hover: 0 4px 4px 0 $shadow-color;

@mixin primary-button {
    background-color: $bg-primary-color;
    border: $border;
    border-radius: 5px;
    padding: $small-padding;
    text-align: center;
    cursor: pointer;
    box-shadow: $box-shadow;
    transition: $transition-hover;
    &:hover {
        background-color: $secondary-color;
        color: $white-color;
        box-shadow: $box-shadow-button-hover;
    }
}

:export {
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    redColor: $red-color;
    blackColor: $black-color;
    whiteColor: $white-color;
    whiteWithOpacity: $white-w-opacity;
}
